version: "3.9"

services:
  mariadb:
    build: ./requirements/mariadb
    image: mariadb
    container_name: mariadb
    restart: always
    env_file: 
      - ./.env
    volumes:
      - /home/thfranco/data/mariadb:/var/lib/mysql
    networks:
      - inception
 

  wordpress:
    build: ./requirements/wordpress
    image: wordpress
    container_name: wordpress
    restart: always
    env_file:
      - ./.env
    depends_on:
      - mariadb
    volumes:
      - /home/thfranco/data/wordpress:/var/www/wordpress
    expose:
      - "9000"
    networks:
      - inception

  nginx:
    build: ./requirements/nginx
    image: nginx
    container_name: nginx 
    depends_on:
      - wordpress
    ports:
      - "443:443"
    volumes:
      - /home/thfranco/data/wordpress:/var/www/wordpress
      - ./requirements/nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro

    networks:
      - inception
    restart: always
    
networks:
  inception:
    driver: bridge

