version: '3.9'

services:
  mariadb:
    build: ./src/mariadb
    container_name: mariadb
    restart: always
    env_file: 
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
   

  wordpress:
    build: ./src/wordpress
    container_name: wordpress
    restart: always
    env_file:
      - .env
    depends_on:
      - mariadb
    volumes:
      - wordpress_data:/var/www/wordpress
    expose:
      - "9000"
    networks:
      - inception

volumes:
  mariadb_data:
  wordpress_data:
    

networks:
  inception:


